* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2575fc;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar .logo img {
    height: 50px;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
}

.navbar .nav-links a,
.navbar .nav-links button {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar .nav-links a:hover,
.navbar .nav-links button:hover {
    text-decoration: underline;
}

.dashboard {
    max-width: 800px;
    margin: 100px auto 20px; /* Centered and adjusted for navbar height */
    padding: 0 20px;
}

#notification-count {
    font-size: 1.2em;
    margin-bottom: 20px;
    color : white;
    font-size: 25px;
    text-align: center;
}

#notifications-list {
    max-height: 60vh;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}



#notifications-list::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}


.notification {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease-out;
}

.notification:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.notification h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #333;
}

.notification p {
    margin: 5px 0;
    color: #555;
}

.accept-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.accept-button:hover {
    background-color: #555;
    transform: translateY(-2px);
}

.accept-button:active {
    transform: translateY(0);
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
